.aboutContainer {
  height: 100vh;
  display: flex;
  align-items: center;
}

.aboutLeftContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;
}

.aboutCard.bg {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: #333;
}

.aboutCard {
  width: 60%;
  height: 70vh;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
}

.aboutImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%);
  transition: 3s;
}

.aboutImage:hover {
  filter: grayscale(0%);
}

.aboutRightContainer {
  flex: 1;
}

.aboutTitle {
  font-weight: 400;
}

.aboutSub {
  margin: 20px 20px;
}

.aboutDesc {
  font-weight: 300;
  margin-right: 50px;
  text-align: end;
}

.aboutAward {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.aboutAwardImg {
  width: 120px;
  height: 120px;
  border-radius: 20px;
}

.aAwardTexts {
  width: 70%;
}

.aAwardTitle {
  font-weight: bold;
  color: #59b256;
  margin-bottom: 10px;
}

.aAwardDesc {
}

@media screen and (max-width: 920px) {
  .aboutContainer {
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }

  .aboutLeftContainer {
    width: 100%;
  }

  .aboutAward {
    margin-bottom: 50px;
  }

  .aboutCard {
    height: 30vh;
  }

  .aboutImage {
    object-position: 80% 20%;
  }
  .aboutRightContainer {
    padding: 20px;
  }
}
