.contact {
  height: 120vh;
  position: relative;
}

.contactBG {
  width: 20px;
  height: 100%;
  background-color: #59b256;
  position: absolute;
}

.contactWrapper {
  margin-top: 100px;
  padding: 50px;
  display: flex;
  /* height: 80%; */
}

.contactLeft {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-evenly;
}

.contactTitle {
  font-size: 60px;
  width: auto;
}

/* .contactInfo {
} */

.contactInfoItem {
  display: flex;
  align-items: center;
  margin: 50px 0px;
  font-weight: 300;
  width: auto;
}

.contactIcon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.contactRight {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contactDescription {
  font-weight: 200;
  width: 75%;
  border: 1px solid #59b256;
  border-radius: 5px 5px 0px 0px;
  padding: 10px;
}

.contactForm {
  margin-top: 20px;
  height: 500px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.contactForm input {
  width: 95%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
}

.contactForm input:focus {
  outline: none;
}

.contactForm textarea {
  width: 95%;
  margin: 10px 0px;
  font-size: 14px;
  padding-left: 10px;
  border: none;
  border-bottom: 1px solid black;
}

.contactForm textarea:focus {
  outline: none;
}

.contactForm button {
  border: none;
  padding: 15px;
  background-color: #59b256;
  color: white;
  font-weight: 500;
  cursor: pointer;
  width: 25%;
}

@media screen and (max-width: 800px) {
  .contactWrapper {
    flex-direction: column;
    padding: 0px 50px;
  }

  .contactTitle {
    font-size: 30px;
  }

  .contactInfoItem {
    margin: 20px 0px;
    width: 100%;
  }

  .contactDescription {
    /* display: none; */

    margin-top: 25px;
    margin-bottom: 25px;
  }

  .contactForm {
    margin-top: 0px;
  }

  .contactRight {
    align-items: flex-start;
  }
}
